# Homework #1

Description of homework assignments [here](https://github.com/alexeygrigorev/mlbookcamp-code/blob/master/course-zoomcamp/cohorts/2022/01-intro/homework.md)

In [1]:
import pandas as pd
import numpy as np

In [3]:
data_fn = '../data/data.csv'

df = pd.read_csv(data_fn)

In [6]:
df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [5]:
# Question 2: Number of records in the dataset

df.index.size

11914

In [8]:
# Question 3: The most popular car manufacturers

df.Make.value_counts().head()

Chevrolet     1123
Ford           881
Volkswagen     809
Toyota         746
Dodge          626
Name: Make, dtype: int64

In [10]:
# Question 4: Number of unique Audi car models

df[df.Make.eq('Audi')]['Model'].nunique()

34

In [12]:
# Question 5: Number of columns with missing values

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11914 entries, 0 to 11913
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Make               11914 non-null  object
 1   Model              11914 non-null  object
 2   Year               11914 non-null  int64
 3   Engine Fuel Type   11911 non-null  object
 4   Engine HP          11845 non-null  float64
 5   Engine Cylinders   11884 non-null  float64
 6   Transmission Type  11914 non-null  object
 7   Driven_Wheels      11914 non-null  object
 8   Number of Doors    11908 non-null  float64
 9   Market Category    8172 non-null   object
 10  Vehicle Size       11914 non-null  object
 11  Vehicle Style      11914 non-null  object
 12  highway MPG        11914 non-null  int64
 13  city mpg           11914 non-null  int64
 14  Popularity         11914 non-null  int64
 15  MSRP               11914 non-null  int64
dtypes: float64(3), int64(5), object(8)
memory usage: 1.5+ MB

In [21]:
# Question 5: Number of columns with missing values

df.isna().any().sum()

5

In [51]:
# Question 6: Does the median value change after filling missing values?

# Find the median value of "Engine Cylinders" column in the dataset.
# Next, calculate the most frequent value of the same "Engine Cylinders".
# Use the fillna method to fill the missing values in "Engine Cylinders" with the most frequent value from the previous step.
# Now, calculate the median value of "Engine Cylinders" once again.

median_Engine_Cylinders = df['Engine Cylinders'].median()
most_frequent_Engine_Cylinders = df['Engine Cylinders'].value_counts().index[0]
last_median_Engine_Cylinders = df['Engine Cylinders'].fillna(most_frequent_Engine_Cylinders).median() 
'No changed'if last_median_Engine_Cylinders == median_Engine_Cylinders else 'Yes, changed'

'No changed'

In [137]:
# Questions 7: Value of the first element of w

# Select all the "Lotus" cars from the dataset.
# Select only columns "Engine HP", "Engine Cylinders".
# Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 9 rows).
# Get the underlying NumPy array. Let's call it X.
# Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
# Invert XTX.
# Create an array y with values [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800].
# Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
# What's the value of the first element of w?

lotus_df = df[df['Make'].eq('Lotus')][['Engine HP', 'Engine Cylinders']]
lotus_df.drop_duplicates(inplace=True)
X = lotus_df.to_numpy()
XTX = X.T.dot(X)
Invert_XTX = np.linalg.inv(XTX)
y = np.array([1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800])
w = Invert_XTX@X.T@y
w[0]

4.594944810094551